<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    {% load static %}
    {% load compress %}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'menustyles.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <title>Hello, User!</title>
    <link rel="icon" href="{% static 'solaricon.ico' %}">
</head>

<body class="aboutbody">
</body>
    <a href="space"><button class="abouttext" id="about">Back</button></a>
    <div class="containAbt">
        <a href="https://github.com/zeightOFFICIAL/"><button class="skiptext" id="about1">github</button></a>
        <a href="https://vk.com/zeightofficial"><button class="backtext" id="about2">vk</button></a>
        <a href="https://replit.com/@ArtemiiZeight"><button class="tosolar" id="about3">replit</button></a>
        <a href="https://leetcode.com/artemsaganenko/"><button class="toalpha" id="about4">leetcode</button></a>
    </div>
    <h2 class="top_left">Saganenko Artemii Vadimovich</h2>
    <h3 class="top_left_h">Student of IKPI-04</h3>
</html>