@font-face {
    font-family: 'solar';
    src: url(../static/fonts/earthorbiter.ttf);
    font-weight: bolder;
    font-style: normal
}

@font-face {
    font-family: 'solar_bold';
    src: url(../static/fonts/earthorbiterbold.ttf);
    font-weight: bolder;
    font-style: italic
}

@mixin sp-layout {
    @media screen and (max-width: 750px) {
        @content;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
}

h2 {
    font-family: 'solar_bold';
    font-size: 5vmin;
    color: white;
}

h3 {
    font-family: 'solar_bold';
    font-size: 3vmin;
    color: white;
}

p {
    font-family: 'solar';
    font-size: 2vmin;
    color: white;

}

.top_left {
    position: absolute;
    top: 1vmin;
    left: 30vmin;
    opacity: 0;
    transition: 1s;
    animation: reveal2 3000ms ease-in-out forwards 200ms;

    @keyframes reveal2 {
        100% {
            opacity: 100%;
        }
    }
}

.top_left_h {
    position: absolute;
    top: 7vmin;
    left: 30vmin;
    opacity: 0;
    transition: 1s;
    animation: reveal2 3000ms ease-in-out forwards 200ms;

    @keyframes reveal2 {
        100% {
            opacity: 100%;
        }
    }
}

.aboutbody {
    color: black;
    background: radial-gradient(ellipse at bottom, #30310d 0%, #13130c 100%);
}

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min +floor($rand * (($max - $min) + 1));
    @return $random_range;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: 0;
    transform: rotate(-45deg);
}

.star {
    $star-count: 50;
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);

    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: white;
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

    @include sp-layout {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }

    @for $i from 1 through $star-count {
        &:nth-child(#{$i}) {
            --star-tail-length: #{random_range(500em, 750em) / 100};
            --top-offset: #{random_range(0vh, 10000vh) / 100};
            --fall-duration: #{random_range(6000, 12000s) / 1000};
            --fall-delay: #{random_range(0, 10000s) / 1000};
        }
    }

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: calc(var(--star-width) / -2);
        width: var(--star-width);
        height: 100%;
        background: linear-gradient(45deg, transparent, currentColor, transparent);
        border-radius: inherit;
        animation: blink 2s linear infinite;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}

.maintext {
    position: absolute;
    top: 41vh;
    left: 0;
    width: 100vw;
    cursor: pointer;
    z-index: 1;
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5vw;
    font-family: "solar_bold", sans-serif;
    text-align: center;
    transition: left 3s, text-shadow 1.5s;
    animation: reveal 3000ms ease-in-out forwards 200ms;

    @keyframes reveal {
        80% {
            letter-spacing: 8px;
        }

        100% {
            background-size: 300% 300%;
        }
    }
}

.secondtext,
.thirdtext,
.fourtext {
    position: absolute;
    top: 44vh;
    left: 200vw;
    width: 100vw;
    white-space: nowrap;
    cursor: pointer;
    font-size: 5vmin;
    font-family: "solar_bold", sans-serif;
    text-align: center;
    transition: left 3s, text-shadow 1.5s;
    z-index: 1;
    background-color: #ffffff;
    background-image: linear-gradient(65deg, #ffffff 0%, #969696 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.thirdtext {
    left: 400vw;
}

.fourtext {
    left: 600vw;
    font-size: 7vmin;
}

.maintext:hover,
.secondtext:hover,
.thirdtext:hover,
.fourtext:hover {
    text-shadow: 0 0 15px #fff;
}

.abouttext,
.skiptext,
.tosolar,
.toalpha,
.totrapp,
.totrebia,
.backtext {
    position: absolute;
    top: 3vmin;
    left: 3.5vmin;
    width: 15vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    text-align: center;
    font-family: 'solar_bold';
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 1vmin;
    background: transparent;
    color: rgb(255, 255, 255);
    border-image: linear-gradient(to top, rgb(255, 255, 255), rgb(85, 85, 85)) 1;
    line-height: 1.15;
    transition: 1s;
    overflow: hidden;
    opacity: 0%;
    animation: reveal2 3000ms ease-in-out forwards 200ms;

    @keyframes reveal2 {
        100% {
            opacity: 100%;
        }
    }
}

.abouttext:hover,
.skiptext:hover,
.tosolar:hover,
.toalpha:hover,
.totrapp:hover,
.totrebia:hover,
.backtext:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 10px white;
}

.skiptext {
    top: 13vmin;
}

.tosolar {
    top: 18vmin;
}

.toalpha {
    top: 23vmin;
}

.totrapp {
    top: 28vmin;
}

.totrebia {
    top: 33vmin;
}

.backtext {
    top: 8vmin;
}

.cards {
    left: 400vw;
    height: 70vh;
    width: 100vw;
    cursor: pointer;
    position: absolute;
    z-index: -10;
    transition: 3s;
}

.container {
    left: 400vw;
    position: absolute;
    display: flex;
    width: 100vw;
    padding: 0 20vw;
    box-sizing: border-box;
    height: 65vh;
    transition: 3s;
    z-index: 11;
}

.container span {
    color: white;
    font-family: "solar_bold", sans-serif;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 1%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

img {
    height: 100%;
}

.box>img {
    width: 50%;
    object-fit: cover;
    transition: .5s;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
}