@font-face {
    font-family: 'solar';
    src: url(../static/Fonts/earthorbiter.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'normal';
    src: url(../static/Fonts/vanadine.ttf);
    font-weight: bolder;
    font-style: normal
}

@font-face {
    font-family: 'side';
    src: url(../static/Fonts/alienleague.ttf);
    font-weight: 400;
    font-style: normal
}

html,
body {
    background-color: #000209;
    height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
}

h3 {
    text-align: center
}

body::-webkit-scrollbar {
    display: none
}

td {
    padding: 0 10px
}

.short-image {
    position: absolute;
    left: 120%;
    height: 20vmin;
    transition: .5s
}

.short-image.firstImg {
    top: 20vmin
}

.short-image.secondImg {
    top: 30vmin
}

.short-image.thirdImg {
    top: 40vmin
}

.short-image.fourthImg {
    top: 50vmin
}

.LeftPanel {
    display: block;
    position: absolute;
    top: 0;
    left: 6%;
    width: 35%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-indent: -1000em;
    transition: left .5s;
    top: 200vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth
}

.LeftPanel::-webkit-scrollbar {
    display: none
}

/* -------------------------------------------- */

.SidePanel {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #000;
    transition: .5s;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.SidePanel hr {
    height: 12vmin;
    border: none
}

.SidePanel p {
    font-size: 20vmin
}

.SidePanel::-webkit-scrollbar {
    display: none
}

.StarSystem {
    position: absolute;
    top: 0;
    left: 43%;
    width: 57%;
    height: 100%;
    overflow: hidden;
    transition: .5s
}

.orbit {
    border: 1px solid #39394e;
    pointer-events: none;
}

.orbit,
.orbit+div,
.orbit+div>div {
    position: absolute
}

.orbit,
.orbit+div {
    top: 50%;
    left: 50%
}

.orbit+div>div {
    top: 0;
    left: 50%
}

.orbit,
.orbit+div div {
    border-radius: 50%
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg)
    }
}

/* ----------------------------------------------------------- */

.HoveredBorderButton {
    box-shadow: white 0px 0px 70px !important;
    background-color: white !important;
    background-image: none !important;
}

.HoveredSidepanel {
    box-shadow: white 4px 0px 4px !important;
}

.HoveredBorder {
    box-shadow: 0 0 20px white !important;
    border-image: unset !important;
    border-color: white !important;
}

.HoveredBorderFilled {
    box-shadow: 0 0 20px white !important;
    border-image: unset !important;
    border-color: white !important;
    background-color: white !important;
    background-image: none !important;
}

.HoveredObject {
    box-shadow: 0 0 60px white !important;
    border: white !important;
    border-style: solid !important;
    border-width: 3px !important;
}

.HoveredObjectForced {
    box-shadow: 0 0 25px white !important;
    border: white !important;
    border-style: solid !important;
    border-width: 3px !important;
}

.TooltipVisible {
    visibility: visible !important;
}