/* ------------------------------------------- setup */
@font-face {
    font-family: 'solar';
    src: url('../static/fonts/earthorbiter.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'normal';
    src: url('../static/fonts/vanadine.ttf');
    font-weight: bolder;
    font-style: normal;
}

/* ------------------------------------------- main settings */
html,
body {
    background-color: black;
    height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h3 {
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
}

.h2-system {
    text-align: center;
    font-family: 'solar';
    font-size: 7vmin;
    margin-bottom: 2.5vmin;
    cursor: default;
}

.h2-system.solar {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h2-system.alpha {
    background-color: rgba(255, 117, 0, 1);
    background-image: linear-gradient(62deg, rgb(255, 170, 0) 0%, rgba(255, 0, 0, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3-solar {
    font-family: 'solar';
    font-size: 6vmin;
    margin-bottom: 2.5vmin;
    cursor: default;
    color: white;
}

.h3-special {
    font-family: 'solar';
    font-size: 6vmin;
    margin-bottom: 2.5vmin;
    cursor: default;
    color: rgb(0, 255, 242);
    text-shadow: 0 0 10px lightskyblue;
}

.p-solar {
    text-align: center;
    font-family: 'normal';
    font-size: 3vmin;
    cursor: default;
    color: white;
}

.left-panel {
    display: block;
    position: absolute;
    top: 0%;
    left: 10%;
    width: 35%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-indent: -1000em;
    transition: left 0.7s;
    top: 200vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.left-panel::-webkit-scrollbar {
    display: none;
}

.accent-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vmin;
    height: 100vh;
    transition: 0.7s;
}

.accent-bar.solar {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    box-shadow: 0 0 3vw #FBAB7E;
}

.accent-bar.alpha {
    background: rgb(255, 117, 0);
    background: linear-gradient(0deg, rgba(255, 117, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    box-shadow: 0 0 3vw red;
}

.normal-border {
    border-width: 3px;
    border-style: solid;
    margin: 40px 15px;
}

.normal-border.solar {
    border-image: linear-gradient(to right, #FBAB7E, #F7CE68) 1;
}

.normal-border.alpha {
    border-image: linear-gradient(to top, rgba(255, 117, 0, 1), rgba(255, 0, 0, 1)) 1;
}

.normal-border img {
    width: 100%;
    height: 35vmin;
    object-fit: cover;
}

.normal-border.hidden {
    overflow: hidden;
}

.normal-border .p-solar {
    padding: 20px 30px;
    text-align: center;
}

.normal-border.p-solar {
    padding: 20px 30px;
    text-align: center;
}

.solar-filling {
    background-color: rgba(255, 117, 0, 1);
    background-image: linear-gradient(to top, rgba(255, 117, 0, 1), rgba(255, 0, 0, 1)) 1;
}

.alpha-filling {
    background-color: rgba(255, 117, 0, 1);
    background-image: linear-gradient(to top, rgba(255, 117, 0, 1), rgba(255, 0, 0, 1)) 1;
}

.closeInfo,
.moreInfo {
    position: absolute;
    top: 30px;
    padding: 0 3vmin;
    text-align: center;
    border: solid 2px black;
    font-size: 3vmin;
    cursor: pointer;
}

.closeInfo.solar,
.moreInfo.solar {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.moreInfo.alpha,
.closeInfo.alpha {
    background-color: rgba(255, 117, 0, 1);
    background-image: linear-gradient(to top, rgba(255, 117, 0, 1), rgba(255, 0, 0, 1)) 1;
}

.closeInfo:hover,
.moreInfo:hover {
    background-color: #ffffff;
    background-image: linear-gradient(62deg, #ffffff 0%, #ffffff 100%);
}

.moreInfo {
    left: 10vmin;
    text-decoration: none;
    color: black;
}

.moreInfo.second {
    left: 20vmin;
}

/* ------------------------------------------- side panel */
.sidepanel {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.7s;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidepanel.solar {
    box-shadow: 3px 0 3px #FBAB7E;
}

.sidepanel.alpha {
    box-shadow: 3px 0 3px #ff0000;
}

.sidepanel hr {
    height: 12vmin;
    border: none;
}

.sidepanel p {
    font-size: 20vmin;
}

.sidepanel::-webkit-scrollbar {
    display: none;
}

.closeButton,
.openButton {
    font-family: 'solar';
    font-size: 3vmin;
    font-weight: bolder;
    text-decoration: none;
    width: 1em;
    cursor: pointer;
    color: black;
    padding: 2vmin 3.5vmin;
    transition: 0.7s;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.openButton.firstButton,
.closeButton.firstButton {
    top: 7.5vmin;
}

.openButton.secondButton,
.closeButton.secondButton {
    top: 92vh;
}

.closeButton {
    width: 100%;
    color: black;
    overflow: hidden;
    min-width: 50vmin;
    text-align: left;
}

.closeButton.solar {
    background-color: #FBAB7E;
    background-image: linear-gradient(60deg, #FBAB7E 0%, #F7CE68 100%);
    box-shadow: 0 0 3vw #FBAB7E;
}

.closeButton.alpha {
    background: rgb(107, 35, 35);
    background: linear-gradient(270deg, rgba(107, 35, 35, 1) 0%, rgba(255, 0, 0, 1) 100%);
    box-shadow: 0 0 3vw red;
}

.openButton {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.openButton:hover {
    background-color: white;
    transition: 0.75s;
}

.closeButton:hover {
    color: white;
    transition: 0.75s;
}

.p-solar-side {
    display: block;
    font-family: 'normal';
    font-size: 3vmin;
    font-weight: bolder;
    color: grey;
    cursor: pointer;
    overflow-x: hidden;
    padding-bottom: 1vh;
    padding-left: 15%;
    transition: 0.15s;
    max-height: 3vmin;
    overflow-y: hidden;
}

.p-solar-side+.asteroid {
    max-height: 7vmin;
}

.p-solar-side+.jovian {
    max-height: 7vmin;
}

.p-solar-side+.phobos {
    max-height: 7vmin;
}

.p-solar-side:hover {
    padding-left: 10%;
    font-size: 4vmin;
}

.p-solar-side:hover.sun:hover {
    color: yellow;
    text-shadow: 0px 0px 2vh rgb(255, 221, 0);
}

.p-solar-side:hover.earth:hover {
    color: lightskyblue;
    text-shadow: 0px 0px 2vh rgb(0, 153, 255);
}

.p-solar-side:hover.asteroid:hover {
    color: white;
    text-shadow: 0px 0px 2vh white;
    font-size: 3vmin;
}

.p-solar-side:hover.jupiter:hover {
    color: orange;
    text-shadow: 0px 0px 2vh rgb(238, 255, 0);
}

.p-solar-side:hover.mars:hover {
    color: red;
    text-shadow: 0px 0px 2vh rgb(255, 0, 0);
}

.p-solar-side:hover.mercury:hover {
    color: darksalmon;
    text-shadow: 0px 0px 2vh white;
}

.p-solar-side:hover.neptune:hover {
    color: blue;
    text-shadow: 0px 0px 2vh rgb(4, 0, 255);
}

.p-solar-side:hover.uranus:hover {
    color: lightseagreen;
    text-shadow: 0px 0px 2vh rgb(0, 94, 255);
}

.p-solar-side:hover.venus:hover {
    color: pink;
    text-shadow: 0px 0px 2vh rgb(255, 0, 255);
}

.p-solar-side:hover.moon:hover {
    color: white;
    text-shadow: 0px 0px 2vh white;
}

.p-solar-side:hover.phobos:hover {
    color: white;
    text-shadow: 0px 0px 2vh white;
    font-size: 3vmin;
}

.p-solar-side:hover.jovian:hover {
    color: orangered;
    text-shadow: 0px 0px 2vh rgb(255, 200, 0);
    font-size: 3vmin;
}

.p-solar-side:hover.saturn:hover {
    color: cornsilk;
    text-shadow: 0px 0px 2vh rgb(255, 72, 0);
}

.p-solar-side:hover.alphaalpha:hover {
    color: yellow;
    text-shadow: 0px 0px 2vh yellow;
}

.p-solar-side:hover.alphabeta:hover {
    color: orange;
    text-shadow: 0px 0px 2vh orange;
}

.p-solar-side:hover.alphaprox:hover {
    color: red;
    text-shadow: 0px 0px 2vh red;
}

.p-solar-side:hover.alphaproxb:hover {
    color: rgb(255, 0, 166);
    text-shadow: 0px 0px 2vh rgb(255, 170, 237);
}

.p-solar-side:hover.alphaproxc:hover {
    color: rgb(255, 186, 103);
    text-shadow: 0px 0px 2vh rgb(255, 132, 0);
}

.p-solar-side:hover.alphaproxd:hover {
    color: rgb(150, 157, 255);
    text-shadow: 0px 0px 2vh rgb(64, 0, 255);
}

.solar-button,
.alpha-button,
.trebi-button,
.trapp-button {
    text-align: center;
    display: block;
    font-family: 'solar';
    font-size: 4vmin;
    font-weight: bolder;
    cursor: pointer;
    overflow-x: hidden;
    padding-left: 4%;
    transition: 0.5s;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 35%, #F7CE68 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.5vmin 0;
    height: 7vmin;
    overflow-y: hidden;
}

.solar-button:hover,
.alpha-button:hover,
.trapp-button:hover,
.trebi-button:hover {
    height: 10vmin;
    padding-top: 5.25vmin;
    padding-left: 0%;
    padding-right: 25%;
}

.solar-button:hover .short-image {
    left: 67%;
}

.alpha-button {
    background-color: #ffe900;
    background-image: linear-gradient(62deg, #ffe900 35%, #9a0000 65%);
}

.alpha-button:hover .short-image {
    left: 67%;
}

.trapp-button {
    background-color: #31fff4;
    background-image: linear-gradient(62deg, #31fff4 35%, #3d00ff 65%);
}

.trapp-button:hover .short-image {
    left: 67%;
}

.trebi-button {
    background-color: #939037;
    background-image: linear-gradient(62deg, #939037 35%, #999999 65%);
}

.trebi-button:hover .short-image {
    left: 67%;
}

.short-image {
    position: absolute;
    left: 120%;
    height: 20vmin;
    transition: 0.5s;
}

.short-image.firstImg {
    top: 20vmin;
}

.short-image.secondImg {
    top: 30vmin;
}

.short-image.thirdImg {
    top: 40vmin;
}

.short-image.fourthImg {
    top: 50vmin;
}

/* ------------------------------------------- image sliders */
.display-prev,
.display-next {
    display: inline;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    background: transparent;
    border: none;
    font-size: 2vmin;
    background-color: #FBAB7E;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
}

.display-next {
    background-color: #F7CE68;
    float: right;
    width: 50%;
}

.display-next.alpha,
.display-prev.alpha {
    background-color: rgba(255, 117, 0, 1);
}

.display-prev {
    float: left;
    width: 50%;
}

.display-next:hover,
.display-prev:hover {
    background-color: rgb(255, 255, 255);
}

.solarSlide {
    text-align: center;
    padding: 20px 30px;
}

/* ------------------------------------------- planet and star objects */
.star-system {
    position: absolute;
    top: 0;
    left: 46%;
    width: 54%;
    height: 100%;
    overflow: hidden;
    transition: 0.7s;
}

.orbit {
    border: 1px solid rgb(57, 57, 78);
}

#zeropoint,
#sun,
.orbit,
.orbit+div,
.orbit+div>div {
    position: absolute;
}

#zeropoint,
#sun,
.orbit,
.orbit+div {
    top: 50%;
    left: 50%;
}

.orbit+div>div {
    top: 0;
    left: 50%;
}

.orbit,
.orbit+div div,
#earth {
    border-radius: 50%;
}

#sun {
    height: 8vh;
    width: 8vh;
    background: rgb(251, 255, 0);
    background: radial-gradient(circle, rgba(251, 255, 0, 1) 39%, rgba(255, 0, 0, 1) 100%);
    margin-top: -4vh;
    margin-left: -4vh;
    border-radius: 50%;
    box-shadow: 0 0 20px #ffa600;
}

#zeropoint {
    height: 0;
    width: 0;
    background: white;
    border-radius: 50%;
}

#mercury {
    margin-top: -1vh;
    margin-left: -1vh;
    height: 2vh;
    width: 2vh;
    background: rgb(150, 71, 71);
    background: radial-gradient(circle, rgba(150, 71, 71, 1) 0%, rgba(107, 72, 72, 1) 58%);
}

.mercury-orbit,
.mercury-spin {
    width: 11vh;
    height: 11vh;
    margin-left: -5.5vh;
    margin-top: -5.5vh;
}

#venus {
    margin-top: -2vh;
    margin-left: -2vh;
    height: 4vh;
    width: 4vh;
    background: rgb(255, 226, 176);
    background: radial-gradient(circle, rgba(255, 226, 176, 1) 0%, rgba(255, 230, 255, 1) 100%);
    box-shadow: 0 0 5px #ffee90;
}

.venus-orbit,
.venus-spin {
    margin-top: -9vh;
    margin-left: -9vh;
    width: 18vh;
    height: 18vh;
}

#earth {
    margin-top: -2vh;
    margin-left: -2vh;
    height: 4vh;
    width: 4vh;
    background: rgb(26, 252, 255);
    background: radial-gradient(circle, rgba(26, 252, 255, 1) 0%, rgba(122, 128, 255, 1) 100%);
    box-shadow: 0 0 5px #d7d9f5;
}

.earth-orbit,
.earth-spin {
    width: 29vh;
    height: 29vh;
    margin-left: -14.5vh;
    margin-top: -14.5vh;
}

#moon {
    margin-top: -0.5vh;
    margin-left: -0.5vh;
    height: 1vh;
    width: 1vh;
    background-color: #aaaaaa;
}

.moon-orbit,
.moon-spin {
    height: 6vh;
    width: 6vh;
    margin-top: -3vh;
    margin-left: -3vh;
    border-color: rgb(57, 57, 78);
}

#mars {
    margin-top: -1.5vh;
    margin-left: -1.5vh;
    height: 3vh;
    width: 3vh;
    background: rgb(255, 0, 0);
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(179, 73, 0, 1) 100%);
    box-shadow: 0 0 5px #be1616;
}

.mars-orbit,
.mars-spin {
    width: 44vh;
    height: 44vh;
    margin-left: -22vh;
    margin-top: -22vh;
}

#deimos {
    margin-top: -0.5vh;
    margin-left: -0.5vh;
    height: 1vh;
    width: 1vh;
    background-color: #aaaaaa;
}

.deimos-orbit,
.deimos-spin {
    height: 5vh;
    width: 5vh;
    margin-top: -2.5vh;
    margin-left: -2.5vh;
    border-color: rgb(57, 57, 78);
}

#phobos {
    margin-top: -0.5vh;
    margin-left: -0.5vh;
    height: 1vh;
    width: 1vh;
    background-color: #aaaaaa;
}

.phobos-orbit,
.phobos-spin {
    height: 7vh;
    width: 7vh;
    margin-top: -3.5vh;
    margin-left: -3.5vh;
    border-color: rgb(57, 57, 78);
}

.asteroids-orbit,
.asteroids-spin {
    width: 52vh;
    height: 52vh;
    margin-left: -26vh;
    margin-top: -26vh;
    border-radius: 50%;
    border-width: 0vh;
    box-shadow: 0 0 7vh #4b4b4b;
    border-color: rgb(41, 41, 41);
}

#jupiter {
    margin-top: -3.5vh;
    margin-left: -3.5vh;
    height: 7vh;
    width: 7vh;
    background: rgb(255, 130, 0);
    background: radial-gradient(circle, rgba(255, 130, 0, 1) 0%, rgba(99, 46, 0, 1) 100%);
    box-shadow: 0 0 10px #c5a572;
}

.jupiter-orbit,
.jupiter-spin {
    width: 59vh;
    height: 59vh;
    margin-left: -29.5vh;
    margin-top: -29.5vh;
}

#saturn {
    margin-top: -3vh;
    margin-left: -3vh;
    height: 6vh;
    width: 6vh;
    background: rgb(182, 115, 53);
    background: radial-gradient(circle, rgba(182, 115, 53, 1) 0%, rgba(255, 185, 151, 1) 100%);
    box-shadow: 0 0 15px #9c7a48;
}

.saturn-orbit,
.saturn-spin {
    width: 73vh;
    height: 73vh;
    margin-left: -36.5vh;
    margin-top: -36.5vh;
}

#uranus {
    margin-top: -1.5vh;
    margin-left: -1.5vh;
    height: 3vh;
    width: 3vh;
    background: rgb(134, 196, 255);
    background: radial-gradient(circle, rgba(134, 196, 255, 1) 0%, rgba(213, 206, 255, 1) 100%);
    box-shadow: 0 0 25px #a490ff;
}

.uranus-orbit,
.uranus-spin {
    width: 83vh;
    height: 83vh;
    margin-left: -41.5vh;
    margin-top: -41.5vh;
}

#neptune {
    margin-top: -1.5vh;
    margin-left: -1.5vh;
    height: 3vh;
    width: 3vh;
    background: rgb(99, 179, 255);
    background: radial-gradient(circle, rgba(99, 179, 255, 1) 0%, rgba(36, 0, 255, 1) 100%);
    box-shadow: 0 0 25px #2f00ff;
}

.neptune-orbit,
.neptune-spin {
    width: 92vh;
    height: 92vh;
    margin-left: -46vh;
    margin-top: -46vh;
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

.earth-spin {
    animation: spin-right 36.5s linear infinite;
    border-radius: 100%;
}

.moon-spin {
    animation: spin-right 3s linear infinite;
    border-radius: 100%;
}

.venus-spin {
    animation: spin-right 22s linear infinite;
    border-radius: 100%;
}

.mercury-spin {
    animation: spin-right 8.8s linear infinite;
    border-radius: 100%;
}

.mars-spin {
    animation: spin-right 68.7s linear infinite;
    border-radius: 100%;
}

.deimos-spin {
    animation: spin-right 1.12s linear infinite;
    border-radius: 100%;
}

.phobos-spin {
    animation: spin-right 0.5s linear infinite;
    border-radius: 100%;
}

.saturn-spin {
    animation: spin-right 1075.5s linear infinite;
    border-radius: 100%;
}

.jupiter-spin {
    animation: spin-right 433.2s linear infinite;
    border-radius: 100%;
}

.uranus-spin {
    animation: spin-right 3068.8s linear infinite;
    border-radius: 100%;
}

.neptune-spin {
    animation: spin-right 6000.0s linear infinite;
    border-radius: 100%;
}

/* ------------------------------------------- alpha */

#alpha {
    height: 10vh;
    width: 10vh;
    margin-top: -5vh;
    margin-left: -5vh;
    background: rgb(255, 208, 0);
    background: radial-gradient(circle, rgba(255, 208, 0) 0%, rgb(255, 174, 0) 58%);
    box-shadow: 0 0 30px white;
}

#beta {
    height: 7vh;
    width: 7vh;
    margin-top: -3.5vh;
    margin-left: -3.5vh;
    background: rgb(255, 170, 0);
    background: radial-gradient(circle, rgba(255, 208, 0) 0%, rgb(251, 255, 0) 58%);
    box-shadow: 0 0 20px yellow;
}

.alpha-orbit,
.alpha-spin {
    width: 12vh;
    height: 12vh;
    margin-top: -6vh;
    margin-left: -6vh;
}

.beta-spin,
.beta-orbit {
    width: 30vh;
    height: 30vh;
    margin-top: -15vh;
    margin-left: -15vh;
}


.alpha-spin {
    animation: spin-right 30s linear infinite;
    border-radius: 100%;
}

.beta-spin {
    animation: spin-right 69s linear infinite;
    border-radius: 100%;
}