.nav-panel {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    transition: height .5s, filter .5s;
    overflow: hidden;
}

.nav-panel:hover {
    filter: brightness(40%);
    height: 30%;
}

canvas {
    background-size: cover !important;
    transition: height .5s;
}