@font-face {
    font-family: 'solar';
    src: url(../Fonts/earthorbiter.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'normal';
    src: url(../Fonts/vanadine.ttf);
    font-weight: bolder;
    font-style: normal
}

@font-face {
    font-family: 'side';
    src: url(../Fonts/alienleague.ttf);
    font-weight: 400;
    font-style: normal
}

html,
body {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-user-select: none;
    user-select: none;

}

html {
    background-color: #000209;
    background-image: url("../Images/BackImage.jpg");
    background-size: contain;
    background-position: center;
    height: 45vh;
}

h3 {
    text-align: center
}

body::-webkit-scrollbar {
    display: none
}

.ShortImage {
    position: absolute;
    left: 65%;
    height: 10vmin;
    transition: .5s;
    top: 7%;
}

.LeftPanel {
    display: block;
    position: absolute;
    top: 0;
    left: 6%;
    width: 35%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-indent: -1000em;
    transition: left .5s;
    top: 200vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth
}

.LeftPanel::-webkit-scrollbar {
    display: none
}

/* -------------------------------------------- */

.SidePanel {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #000;
    transition: width .5s, box-shadow .5s;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.SidePanel hr {
    height: 12vmin;
    border: none
}

.SidePanel p {
    font-size: 20vmin
}

.SidePanel::-webkit-scrollbar {
    display: none
}

.StarSystem {
    position: absolute;
    top: 0;
    left: 43%;
    width: 57%;
    height: 100%;
    overflow: hidden;
    transition: .5s
}

.orbit {
    border: .1vmin solid #6a697c83;
    pointer-events: none;
}

.orbit,
.orbit+div,
.orbit+div>div {
    position: absolute
}

.orbit,
.orbit+div {
    top: 50%;
    left: 50%
}

.orbit+div>div {
    top: 0;
    left: 50%
}

.orbit,
.orbit+div div {
    border-radius: 50%
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg)
    }
}

/* ----------------------------------------------------------- */

.HoveredBorderButton {
    box-shadow: white 0px 0px 3vmin !important;
    background-color: white !important;
    background-image: none !important;
}

.HoveredSidepanel {
    box-shadow: white 1vmin 0px 1vmin !important;
}

.HoveredBorder {
    box-shadow: 0 0 2vmin white !important;
    border-image: unset !important;
    border-color: white !important;
}

.HoveredBorderFilled {
    box-shadow: 0 0 2vmin white !important;
    border-image: unset !important;
    border-color: white !important;
    background-color: white !important;
    background-image: none !important;
}

.HoveredObject {
    box-shadow: 0 0 3vmin white !important;
    border: white !important;
    border-style: solid !important;
    border-width: .5vmin !important;
}

.HoveredObjectForced {
    box-shadow: 0 0 3vmin white !important;
    border: white !important;
    border-style: solid !important;
    border-width: .5vmin !important;
}

.TooltipVisible {
    visibility: visible !important;
}

.HoveredShortImage {
    left: 35% !important;
    overflow-x: unset !important;
}

.HoveredStarText {
    padding-left: 5% !important;
    background-color: white !important;
}