@font-face {
    font-family: 'Ostrovsky';
    src: url(../Fonts/Ostrovsky.otf);
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    font-size: .5vmin;
    color: white;
}

html,
body {
    overflow: hidden;
    -ms-overflow-style: none;
    -webkit-scrollbar: none;
    scrollbar-width: none;
    -webkit-user-select: none;
    user-select: none;
}

html {
    background-color: #000209;
    background-image: url("../Images/BackImage.jpg");
    background-size: contain;
    background-position: center;
    height: 45vh;
}

section {
    position: absolute;
    left: 20%;
    width: 60%;
    top: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    position: absolute;
    width: 100%;
}

.swiper-slide {

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper-slide-next,
.swiper-slide-prev {
    filter: blur(.5vmin);
}

.swiper-pagination {
    position: absolute !important;
    top: 85vh !important;
    height: 5vh !important;
    width: 100% !important;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
    --swiper-pagination-color: #ffffff;
    --swiper-pagination-left: 0;
    --swiper-pagination-right: 0;
    --swiper-pagination-bottom: 0;
    --swiper-pagination-top: 0;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 0;
    --swiper-pagination-bullet-size: 0;
    --swiper-pagination-bullet-width: 2vmin;
    --swiper-pagination-bullet-height: 2vmin;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 0.1;
    --swiper-pagination-bullet-opacity: 0.8;
    --swiper-pagination-bullet-horizontal-gap: 1vmin;
    --swiper-pagination-bullet-vertical-gap: 0;
}

.Card {
    height: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: filter .5s;
    object-fit: cover;
}

.BackCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.DropDownImg {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.Anchor {
    text-decoration: none;
}

.Title {
    font-family: 'Ostrovsky';
    padding: 4vmin 0;
    text-align: center;
    transition: text-shadow .5s;
    white-space: nowrap;
    font-size: 3vw;
}

.CardText {
    position: absolute;
    font-family: 'Ostrovsky';
    text-align: center;
    filter: opacity(0);
    font-size: 2.5vmin;
    transition: filter .75s;
    width: 100%;
    top: 42vmin;
}

.Titler {
    text-align: center;
    font-family: 'Ostrovsky';
    color: white;
    position: absolute;
    top: 90%;
    left: 80%;
    width: 12%;
    white-space: nowrap;
    z-index: 15;
    padding: 1vmin 2vmin;
    font-size: 1vw;
}

.Titler:hover {
    color: black;
    background-color: white;
}

.BackTitler {
    text-align: center;
    font-family: 'Ostrovsky';
    color:  white;
    position: absolute;
    top:90%;
    left: 5.8%;
    width: 12%;
    white-space: nowrap;
    z-index: 15;
    padding: 1vmin 2vmin;
    overflow-x: hidden;
    font-size: 1vw;
}

.BackTitler:hover {
    color: black;
    background-color: white;
}

.LowerPart {
    position: absolute;
    left: 0;
    width: 100%;
    height: 96%;
    top: 4%;
    transition: filter .5s;
}

.CardHovered {
    filter: saturate(0) blur(.3vmin) !important;
}

.TitleHovered {
    text-shadow: 0vmin 5vmin 5vmin !important;
}

.TextHovered {
    filter: opacity(100) !important;
}

.DropImageHovered {
    top: -10% !important;
}