@font-face {
    font-family: 'solar';
    src: url(../Fonts/earthorbiter.ttf);
    font-weight: bolder;
    font-style: normal
}

@font-face {
    font-family: 'solar_bold';
    src: url(../Fonts/vanadine.ttf);
    font-weight: bolder;
    font-style: italic
}


html,
body {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
}

html {
    background-color: #000209;
    background-image: url("../BackImage.jpg");
    background-size: contain;
    background-position: center;
    height: 45vh;
}

section {
    position: absolute;
    left: 20%;
    width: 60%;
    top: 5%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    position: absolute;
    width: 100%;
}

.swiper-slide {
    filter: blur(.5vmin);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.Card {
    background-color: black;
    margin: 0 5vmin;
    height: 65%;
    border: solid rgb(255, 25, 0) 10px;
}

.Title {
    font-family: 'solar_bold';
    font-size: 9vmin;
    margin: 0 5vmin;
    padding: 2vmin 0;
    color: red;
    text-align: center;
}